# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables / secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Database
data.db

# Logs
*.log

# Streamlit secrets
.streamlit/config.toml